<!-- Se usa div en vez de uib-alert y ademas se cambia ng-class -->
<div uib-alert  ng-repeat="alert in alerts"
     ng-class="['alert-' + alert.type]"
     dismiss-on-timeout="4000"
     type="alert.type" close="closeAlert()">{{alert.msg}}</div>


<div class="panel" style=" margin: auto; max-width: 1000px;">
    <div class="modal-header">


        <h4 class="modal-title" id="myCompanyLabel">Crear o editar máquina</h4>
    </div>
    <div class="modal-body col-lg-12">
        <div>id: {{entity.id}}</div>
        <div class="form-group col-lg-6">
            <label class="control-label" for="field_name">Nombre</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="entity.name"
            />
            <label class="control-label" for="field_serial_number">Serial</label>
            <input type="text" class="form-control" name="serialNumber" id="field_serial_number"
                   ng-model="entity.serialNumber"
            />
            <label class="control-label">Fecha de compra</label>
            <input type="text" class="form-control editable-wrap" uib-datepicker-popup
                   ng-model="entity.adquisitionDate" is-open="popup2.opened"
                   datepicker-options="dateOptions" close-text="Close" type=""datetime-local/>
            <button type="button" class="btn btn-default"
                    ng-click="open2()"><i
                    class="glyphicon glyphicon-calendar"></i></button>

            <br>
            <label class="control-label" for="field_voltage">Voltaje</label>
            <input type="number" class="form-control" name="voltage" id="field_voltage"
                   ng-model="entity.voltage"
            />

            <div class="form-group">
                <label class="control-label" for="field_fk_machine_type">Tipo de máquina</label>
                <input id="field_fk_machine_type" type="text" ng-model="entity.fkMachineType.name" placeholder="Tipo de máquina"
                       uib-typeahead="machineType.name  for machineType in findMachineTypeByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectMachineType($item)">
            </div>

            <div class="form-group">
                <label class="control-label" for="field_fk_machine_brand">Marca de la máquina</label>
                <input id="field_fk_machine_brand" type="text" ng-model="entity.fkMachineBrand.name" placeholder="Marca de la máquina"
                       uib-typeahead="machineBrand.name  for machineBrand in findMachineBrandByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectMachineBrand($item)">
            </div>

            <div class="form-group">
                <label class="control-label" for="field_fk_machine_category">Categoría de la máquina</label>
                <input id="field_fk_machine_category" type="text" ng-model="entity.fkMachineCategory.name" placeholder="Categoría de la máquina"
                       uib-typeahead="machineCategory.name  for machineCategory in findMachineCategoryByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectMachineCategory($item)">
            </div>

            <div class="form-group">
                <label class="control-label" for="field_fk_workplace">Sitio de trabajo</label>
                <input id="field_fk_workplace" type="text" ng-model="entity.fkWorkplace.name" placeholder="Sitio de trabajo"
                       uib-typeahead="workplace.name  for workplace in findWorkplaceByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectWorkplace($item)">
            </div>

            <label class="control-label" for="field_description">Descripción</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="entity.description"
            />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="return()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button ng-click="save()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</div>
