<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.navCollapsed = !vm.navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navUms img-responsive"></span>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" uib-collapse="vm.navCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="root" ng-click="vm.navCollapsed = true">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Inicio</span>
                    </a>
                </li>
                <li  uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entidades
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>

                    <ul class="dropdown-menu" uib-dropdown-menu>

                        <li ui-sref-active="active">
                            <a ui-sref="department" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Departamentos
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="employee" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Operarios
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="mechanic" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Mecánicos
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="machine-category" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Categorías de máquinas
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="machine-brand" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Marcas de máquinas
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="machine-type" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Tipos de máquinas
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="workplace" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Sitio de trabajo
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="machine" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Máquinas
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="machine-failure" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Fallas de máquinas
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="maintenance-type" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Tipos de mantenimiento
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="spare-part" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Repuestos
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="request-spare-part" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Requerimientos de repuesto
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="maintenance" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Mantenimientos
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="maintenance-task" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                            Actividades de mantenimiento
                        </span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="report" ng-click="vm.navCollapsed = true">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm">
                                    Reporte
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>




