<!-- Se usa div en vez de uib-alert y ademas se cambia ng-class -->
<div uib-alert  ng-repeat="alert in alerts"
     ng-class="['alert-' + alert.type]"
     dismiss-on-timeout="4000"
     type="alert.type" close="closeAlert()">{{alert.msg}}</div>


<div class="panel" style=" margin: auto; max-width: 1000px;">
    <div class="modal-header">


        <h4 class="modal-title" id="myCompanyLabel">Crear o editar requerimiento de repuesto</h4>
    </div>
    <div class="modal-body col-lg-12">
        <div>id: {{entity.id}}</div>
        <div class="form-group col-lg-6">
            <label class="control-label" for="field_name">Nombre</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="entity.name"
            />
            <label class="control-label">Fecha de solicitud</label>
            <datetimepicker data-ng-model="entity.requestDate" ></datetimepicker>
            <label class="control-label">Fecha de entrega</label>
            <datetimepicker data-ng-model="entity.deliveryDate" ></datetimepicker>
            <div class="form-group">
                <label class="control-label" for="field_fk_machine">Máquina</label>
                <input id="field_fk_machine" type="text" ng-model="entity.fkMachine.id" placeholder="Máquina"
                       uib-typeahead="('Tipo: ' + machine.fkMachineType.name + ' Categoria: ' + machine.fkMachineCategory.name + ' Marca: ' + machine.fkMachineBrand.name)
                         for machine in findMachineByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectMachine($item)">
            </div>
            <div class="form-group">
                <label class="control-label" for="field_fk_spare_part">Repuesto solicitado</label>
                <input id="field_fk_spare_part" type="text" ng-model="entity.fkSparePart.name" placeholder="Repuesto"
                       uib-typeahead="sparePart.name  for sparePart in findSparePartByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectSparePart($item)">
            </div>
            <label class="control-label" for="field_units">Unidades solicitadas</label>
            <input type="number" class="form-control" name="units" id="field_units"
                   ng-model="entity.units"
            />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="return()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button ng-click="save()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</div>
