<!-- Se usa div en vez de uib-alert y ademas se cambia ng-class -->
<div uib-alert  ng-repeat="alert in alerts"
     ng-class="['alert-' + alert.type]"
     dismiss-on-timeout="4000"
     type="alert.type" close="closeAlert()">{{alert.msg}}</div>


<div class="panel" style=" margin: auto; max-width: 1000px;">
    <div class="modal-header">
        <h4 class="modal-title" id="myCompanyLabel">Crear o editar mantenimiento</h4>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="return()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button ng-click="save()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
    <div class="modal-body col-lg-12">
        <div>id: {{entity.id}}</div>
        <div class="form-group col-lg-6">
            <label class="control-label" for="field_name">Nombre</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="entity.name"
            />
            <label class="control-label" for="field_priority">Prioridad</label>
            <input type="text" class="form-control" name="priority" id="field_priority"
                   ng-model="entity.priority"
            />
            <label class="control-label" for="field_state">Estado</label>
            <input type="text" class="form-control" name="state" id="field_state"
                   ng-model="entity.state"
            />
            <label class="control-label" for="field_standard_hours">Horas estándar</label>
            <input type="number" class="form-control" name="standardHours" id="field_standard_hours"
                   ng-model="entity.standardHours"
            />
            <label class="control-label">Fecha de inicio</label>
            <datetimepicker data-ng-model="entity.startDate" ></datetimepicker>

            <label class="control-label">Fecha de vencimiento</label>
            <datetimepicker data-ng-model="entity.dueDate" ></datetimepicker>

            <div class="form-group">
                <label class="control-label" for="field_fk_machine">Máquina</label>
                <input id="field_fk_machine" type="text" ng-model="entity.fkMachine.id" placeholder="Máquina"
                       uib-typeahead="('Tipo: ' + machine.fkMachineType.name + ' Categoria: ' + machine.fkMachineCategory.name + ' Marca: ' + machine.fkMachineBrand.name)
                         for machine in findMachineByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectMachine($item)">
            </div>
            <div class="form-group">
                <label class="control-label" for="field_fk_employee">Mecánico asignado</label>
                <input id="field_fk_employee" type="text" ng-model="entity.fkEmployee.name" placeholder="Mecánico"
                       uib-typeahead="employee.name  for employee in findEmployeeByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectEmployee($item)">
            </div>
            <div class="form-group">
                <label class="control-label" for="field_fk_machine_failure">Falla de máquina</label>
                <input id="field_fk_machine_failure" type="text" ng-model="entity.fkMachineFailure.name" placeholder="Falla de máquina"
                       uib-typeahead="machineFailure.name  for machineFailure in findMachineFailureByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectMachineFailure($item)">
            </div>
            <div class="form-group">
                <label class="control-label" for="field_fk_maintenance_type">Tipo de mantenimiento</label>
                <input id="field_fk_maintenance_type" type="text" ng-model="entity.fkMaintenanceType.name" placeholder="Tipo de mantenimiento"
                       uib-typeahead="maintenanceType.name  for maintenanceType in findMaintenanceTypeByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectMaintenanceType($item)">
            </div>
            <label class="control-label" for="field_description">Descripción</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="entity.description"
            />
        </div>
    </div>

    <div class="modal-footer">

    </div>
</div>


<div class="panel" style=" margin: auto; max-width: 1000px; padding: 40px;" data-ng-if="entity.id">
    <h2>Actividades del mantenimiento</h2>
    <button type="button" class="btn btn-info btn-rounded btn-loading"
            data-loading-text="<i class='icon-add spinner'></i>"
            data-ui-sref="maintenance-task-modal({maintenanceTaskId: null, id: {{entity.id}}})">+</button>
    <!-->
    <div id="grid1" ui-grid="gridOptions" class="grid">

    </div>
</div>



