<!-- Ver todo en panel en las listas-->
<!-- Se usa div en vez de uib-alert y ademas se cambia ng-class -->
<div uib-alert  ng-repeat="alert in alerts"
     ng-class="['alert-' + alert.type]"
     dismiss-on-timeout="4000"
           type="alert.type" close="closeAlert()">{{alert.msg}}</div>

<div class="panel" style=" margin: auto; max-width: 1000px; padding: 40px;" >
    <h2>Reporte</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
            </div>
        </div>
    </div>
    <br/>

    <nvd3 options="options" data="data"></nvd3>
<!-->
    <div id="grid1" ui-grid="gridOptions" class="grid">

    </div>
</div>

