body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.ums {
    display: inline-block;
    width: 202px;
    height: 60px;
    background: url("../images/logo_ums.png") no-repeat center top;
    background-size: contain;
}

.sena {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url("../images/logo_sena.png") no-repeat center top;
    background-size: contain;
}

.navUms {
    display: inline-block;
    width: 200px;
    height: 54px;
    background: url("../images/logo_ums.png") no-repeat center top;
    background-size: contain;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* entity tables helpers */

/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td verifically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* end of entity tables helpers */

/* ui bootstrap tweaks */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus{
    outline: none;
}
/* end of ui bootstrap tweaks */

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* jhipster-needle-css-add-main JHipster will add new css style */



/*
  The idea behind below block is to allow two or three
   header name, because in the normal mode of ui-grid
   only one row header name is allow, so when the name
   is so large, it doesn't appears.
*/
.ui-grid-header-cell .ui-grid-cell-contents {
    height: 48px;
    white-space: normal;
    -ms-text-overflow: clip;
    -o-text-overflow: clip;
    text-overflow: clip;
    overflow: visible;
}



/*
   This is the background of our overlay. We need it to be
   absolutely positioned within the grid, and fill from
   top to bottom, and the full width. It will also have
   a black background with 40% opacity.
*/
.grid-msg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/*
  This guy will contain our message. We want it centered
  so it's positioned absolutely with percentage-based
  offsets and dimensions. It also has some basic border
  stuff and most important is using "display: table" so
  we can vertically center its contents.
*/
.grid-msg-overlay .msg {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 50%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #555;
    text-align: center;
    font-size: 24px;
    display: table;
}

/*
  Lastly this is the actual message text. It uses
  display: table-cell so the vertical alignment
  works properly.
*/
.grid-msg-overlay .msg span {
    display: table-cell;
    vertical-align: middle;
}




.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell{
    background-color: #ddd;
    border-bottom:1px;
}

.ui-grid-top-panel{
    background: transparent;
    border-bottom:0;
}

.ui-grid-header{
    background: transparent;
    border-bottom: 0;
}

.ui-grid-header-cell{
    border-color: transparent;
    border-bottom: 0;
}

.ui-grid-row:nth-child(even) .ui-grid-cell{
    background-color: transparent;
}
.ui-grid-row:nth-child(odd) .ui-grid-cell{
    background-color: #f9f9f9;
}

.ui-grid-icon-ok:before {
    content: '\c350';
}

.btn-icon{
    background-color: transparent;
}

.ui-grid{
    border: 0px;
    /*margin-left: -11px;
    margin-right: -11px;*/
}

.ui-grid i.icon-pen6{
    color: #1a0b70;
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: #37CB59;
    color: #ffffff;
}

input[type="text"].ui-grid-filter-input {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.ui-grid-row, .ui-grid-cell {
    height: 50px !important;
}

.editable-date {
    float: none;
}

.ui-grid-filter-container{
    padding-bottom: 12px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.ui-grid-header-cell {
    font-weight:600;
    border-bottom: 1px solid #aaaaaa;
}

.ui-grid-cell{
    border-color: transparent;
    overflow: visible;
}

.ui-grid-footer-cell{
    border-right: none;
}


.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child{
    border-right: 0;
    border-bottom: 1px solid #aaaaaa;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child{
    border-right: 0;
    border-bottom: 1px solid #dddddd;
}


.ui-grid-cell {
    padding-top: 5px;
    border-bottom: 1px solid #dddddd;
}

.ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"]{
    margin-top: -22px;
}






/**
*
* FILE EXTENSION
*
*/


.document-item {
    display: block;
    margin: 1.5em 0 2.5em 0;
    position: relative;
    padding-left: 45px;
    color: black;
}
.document-item::before {
    position: absolute;
    width: 29px;
    height: 34px;
    left: 0;
    top: -7px;
    content: '';
    border: solid 2px #920035;
}
.document-item::after {
    content: 'file';
    content: attr(filetype);
    left: -4px;
    padding: 0px 2px;
    text-align: right;
    line-height: 1.3;
    position: absolute;
    background-color: #000;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    top: 9px;
}
.document-item .fileCorner {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 0 11px;
    border-color: white transparent transparent #920035;
    position: absolute;
    top: -7px;
    left: 22px;
}



.document-item .close {
    position: absolute;
    top: -15px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.document-item .close:hover {
    opacity: 1;
}
.document-item .close:before, .close:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333;
}
.document-item .close:before {
    transform: rotate(45deg);
}
.document-item .close:after {
    transform: rotate(-45deg);
}
