<!-- Se usa div en vez de uib-alert y ademas se cambia ng-class -->
<div uib-alert  ng-repeat="alert in alerts"
     ng-class="['alert-' + alert.type]"
     dismiss-on-timeout="4000"
     type="alert.type" close="closeAlert()">{{alert.msg}}</div>


<div class="panel" style=" margin: auto; max-width: 1000px;">
    <div class="modal-header">
        <h4 class="modal-title" id="myCompanyLabel">Crear o editar tarea mantenimiento</h4>
    </div>
    <div class="modal-body col-lg-12">
        <div>id: {{entity.id}}</div>
        <div class="form-group col-lg-6">
            <label class="control-label" for="field_name">Nombre</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="entity.name"
            />
            <label class="control-label" for="field_description">Descripción</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   ng-model="entity.description"
            />
            <div class="form-group">
                <label class="control-label" for="field_fk_maintenance_task">ID Mantenimiento</label>
                <input id="field_fk_maintenance_task" type="text" ng-model="entity.fkMaintenance.id" placeholder="ID Mantenimiento"
                       uib-typeahead="maintenance.id  for maintenance in findMaintenanceByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectMaintenance($item)">
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="return()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button ng-click="save()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</div>



