<!-- Ver todo en panel en las listas-->
<!-- Se usa div en vez de uib-alert y ademas se cambia ng-class -->
<div uib-alert  ng-repeat="alert in alerts"
     ng-class="['alert-' + alert.type]"
     dismiss-on-timeout="4000"
     type="alert.type" close="closeAlert()">{{alert.msg}}</div>

<div class="panel" style=" margin: auto; max-width: 1000px; padding: 40px;" >
    <h2>Tarea de mantenimiento</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="maintenance-task-details()" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Añadir tarea mantenimiento
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <!-->
    <div id="grid1" ui-grid="gridOptions" class="grid">

    </div>
</div>
