<!-- Se usa div en vez de uib-alert y ademas se cambia ng-class -->
<div uib-alert  ng-repeat="alert in alerts"
     ng-class="['alert-' + alert.type]"
     dismiss-on-timeout="4000"
     type="alert.type" close="closeAlert()">{{alert.msg}}</div>


<div class="panel" style=" margin: auto; max-width: 1000px;">
    <div class="modal-header">


        <h4 class="modal-title" id="myCompanyLabel">Crear o editar empleado</h4>
    </div>
    <div class="modal-body col-lg-12">
        <div>id: {{entity.id}}</div>
        <div class="form-group col-lg-6">
            <label class="control-label" for="field_name">Nombre</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="entity.name"
            />
            <label class="control-label" for="field_lastName">Apellido</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                   ng-model="entity.lastName"
            />
            <label class="control-label" for="field_identification">Identificación</label>
            <input type="text" class="form-control" name="identification" id="field_identification"
                   ng-model="entity.identification"
            />
            <label class="control-label">Género</label>
            <div class="styled-select slate">
            <select name="singleSelect" ng-model="entity.gender">
                <option value="Femenino">Femenino</option>
                <option value="Masculino">Masculino</option>
            </select>
            </div><br>
            <label class="control-label" for="field_salary">Salario</label>
            <input type="number" class="form-control" name="salary" id="field_salary"
                   ng-model="entity.salary"
            />
            <div class="form-group">
                <label class="control-label" for="field_fk_department">Departamento</label>
                <input id="field_fk_department" type="text" ng-model="entity.fkDepartment.name" placeholder="Departamento"
                       uib-typeahead="department.name  for department in findDepartmentByName($viewValue)"
                       typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control"
                       typeahead-on-select="onSelectDepartment($item)">
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="return()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancelar</span>
        </button>
        <button ng-click="save()" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Guardar</span>
        </button>
    </div>
</div>
